@import url("../../commons/style.css");

.home-container {
	display: flex;
	flex-direction: column;
	height: 83vh;
	width: 89vw;
	overflow: hidden;
	margin-top: 90px;
	position: relative;
	left: 30vw;
}

.music-player {
	width: 96.7%;
	z-index: 2;
}
