@import url("../../commons/style.css");

.home-container {
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 89vw;
	overflow: hidden;
	position: relative;
	left: 30vw;
	top: 115px;	

}

.music-player {
	width: 96.7%;
	z-index: 2;
}
