.home-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    align-items: center;
    padding-top: 10px;
}

.scrollable-area {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 83px;
    padding: 0;
}

.music-player {
    width: 96.7%;
}