.music-list-container {
	padding-left: 20px;
	color: white;
	text-align: center;
}

.list-title {
	text-align: left;
	font-family: Arial;
	margin-bottom: 10px;
}

.music-list {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	gap: 10px;
	overflow-x: scroll;
	padding-bottom: 10px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.music-item-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.show-all-music-item {
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.show-all-music-item:hover {
	transform: scale(1.02);
}

.show-all-photo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
}

.show-all-text {
	text-align: center;
}
