.music-list-container {
    padding-top: 90px;
    padding-left: 20px;
    color : white;
    text-align: center;
}

.list-title  {
    text-align: left;
    font-family: Arial;
}

.music-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: scroll;
    padding-bottom: 10px; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.music-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
