.searchbar-container {
	display: flex;
	align-items: center;
}

.search-bar {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	border: 1px solid #ccc;
}
.search-bar:focus {
	border-color: #007bff;
}

.clear-button {
	background: none;
	border: none;
	cursor: pointer;
	right: 2%;
}

.clear-png {
	width: 12px;
	height: 12px;
}

.suggestions-popup {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 10;
	max-height: 200px;
	overflow-y: auto;
}

.suggestions-popup ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.suggestion-item {
	padding: 10px 15px;
	cursor: pointer;
	font-size: 14px;
	color: #333;
}

.suggestion-item:hover {
	background-color: #f5f5f5;
}
