@import url("../../commons/style.css");

.lobby-body {
	display: flex;
	flex-direction: column;
	height: 83vh;
	overflow: hidden;
	margin-top: 90px;
}

.lobby-header {
	text-align: left;
	font-family: Arial;
	margin-left: 5%;
	color: white;
	margin-bottom: 0px;
}

.grid-container {
	display: grid;
	height: 50rem;
	grid-template-columns: repeat(auto-fit, minmax(260px, 260px));
	grid-template-rows: repeat(auto-fit, 300px);
	gap: 1.5rem;
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
	margin-top: 20px;
	box-sizing: border-box;
	overflow: visible;
	opacity: 0;
}

.grid-container.show {
	opacity: 1;
}

