@tailwind components;
@tailwind utilities;
:root {
	background: linear-gradient(0deg, #157697, #072631);
	height: 100vh;
	/*display: flex;
  justify-content: center;
  align-items: center;*/
	scrollbar-width: none;
}
@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
