.info-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	width: fit-content;
}

.user-pic {
	width: 200px;
	border-radius: 100px;
}

.user-details-container {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	color: white;
}

.user-details-container h4 {
	margin: 0;
	margin-left: 10px;
	font-weight: normal;
}

.user-details-container h2 {
	margin: 0;
	font-weight: bold;
	font-size: 20pt;
	margin-left: 10px;
}

.user-details-container h3 {
	margin: 0;
	font-size: 12pt;
	font-weight: normal;
	margin-left: 10px;
}

/* Modal overlay */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

/* Modal container */
.modal {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 300px;
	text-align: center;
}

/* Modal buttons */
.modal-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.modal-buttons button {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.modal-buttons button:first-child {
	background-color: #ccc;
}

.modal-buttons button:last-child {
	background-color: #007bff;
	color: white;
}
